
## function to export ##
export(allez)
export(list2score)
export(allezTable)
export(allezC)
export(allezMat)
export(allezPlot)

## import methods ##
importMethodsFrom(AnnotationDbi,get)

## import functions ##
importFrom(graphics, image)
importFrom(graphics, strwidth)
importFrom(grDevices, gray)
importFrom(graphics, axis, par, text)
importFrom(stats, median, qnorm, sd, var)

